.card {
    height: 320px;
    cursor: pointer;

    .card-img-top {
        height: 180px;
        padding: .2em;
        // width: 105px;

        img {
            display: block;
            height: 100%;
            object-fit: cover;
            object-position: top;
            width: 100%;
        }
    }

    .card-body {
        height: 48px;
        color: rgba(0, 0, 0, 0.9);

        .card-title {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.8rem;
        }
    }

    .card-footer {
        background: #ffffff;
        .confirm {
            width: 100%;
        }
    }
}
