<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>

    <div class="row">

        <div class="col-md-12 mb-3">
            <label for="username" class="form-label">Nombre de Usuario:</label>
            <input id="username" formControlName="username" class="form-control"
                [ngClass]="{'is-invalid': userForm.get('username')?.invalid && userForm.get('username')?.touched}"
                formControlName="username">
            <div *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched"
                class="invalid-feedback">
                El nombre de usuario es requerido.
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <label for="email" class="form-label">Correo Electrónico:</label>
            <input id="email" formControlName="email" class="form-control"
                [ngClass]="{'is-invalid': userForm.get('email')?.invalid && userForm.get('email')?.touched}"
                formControlName="email">
            <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
                class="invalid-feedback">
                Debe ingresar un correo electrónico válido
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <label for="avatar" class="form-label">Avatar:</label>
            <input id="avatar" formControlName="avatar" class="form-control"
                [ngClass]="{'is-invalid': userForm.get('avatar')?.invalid && userForm.get('avatar')?.touched}"
                formControlName="avatar">
            <div *ngIf="userForm.get('avatar')?.invalid && userForm.get('avatar')?.touched"
                class="invalid-feedback">
                El avatar de usuario es requerido.
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <label for="roleId" class="form-label">Rol:</label>
            <select id="roleId" formControlName="roleId" class="form-control" aria-placeholder="Seleccione un rol">
                <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
            </select>
        </div>

        <div class="col-md-12 mb-3">
            <label for="password" class=" form-label">Contraseña:</label>
            <input id="password" type="password" formControlName="password" class="form-control"
                [ngClass]="{'is-invalid': userForm.get('password')?.invalid && userForm.get('password')?.touched}"
                formControlName="password">
            <div *ngIf=" userForm.get('password')?.invalid && userForm.get('password')?.touched"
                class="invalid-feedback">
                La contraseña es obligatoria.
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <label for="confirmPassword" class=" form-label">Confirmar Contraseña:</label>
            <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control"
                [ngClass]="{'is-invalid': userForm.get('confirmPassword')?.invalid && userForm.get('confirmPassword')?.touched}"
                formControlName="confirmPassword">
            <div *ngIf="userForm.get('confirmPassword')?.invalid &&
                userForm.get('confirmPassword')?.touched" class="invalid-feedback">
                Debe ingresar nuevamente la contraseña
            </div>
        </div>

        <div *ngIf="userForm.errors?.['mismatch']" class="invalid-feedback" style="display: block;">
            Las contraseñas no coinciden
        </div>


        <div class="d-flex justify-content-end">
            <button type="submit" class="btn d-block w-25 btn-success"
                [disabled]="userForm.invalid">Guardar</button>
        </div>
    </div>
</form>