//Creardo por Ingeniero Peralta
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('https://img.freepik.com/free-photo/shopping-bag-cart_23-2148879372.jpg');
  background-size: cover;
  background-position: center;
}

.card-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.social-netwoks {
  display: flex;
  .btn-google {
    background-color: #db4437;
    color: white;
  }

  .btn-facebook {
    background-color: #3b5998;
    color: white;
  }
}

#profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
}

.btn {
  width: 100%;
  margin-top: 10px;
}
