.row {
    display: flex;
    justify-content: space-between;

    .col-title {
        text-align: left;
    }

    .col-button {
        text-align: right;
    }
}

.page-item {
    cursor: pointer;
}
